<footer id="footer">
    <div class="container">
        <img
                src="/img/footer-left-decor.png"
                alt="footer-decor"
                class="footer-decor left-decor"
        >
        <div class="footer-content">
            {% for item in footer %}
                <div class="footer-items">
                    <div class="footer-items-title">{{ item.social.title }}</div>
                    <a href="#">
                        <img
                                src="{{ item.social.img }}"
                                alt="footer-social-icon"
                                class="footer-social-icon"
                        >
                    </a>
                </div>
                <div class="footer-items">
                    <div class="footer-items-title">{{ item.phones.title }}</div>
                    <a href="#" class="footer-link">{{ item.phones.phone1 }}</a>
                    <a href="#" class="footer-link">{{ item.phones.phone2 }}</a>
                </div>
                <div class="footer-items">
                    <div class="footer-items-title">{{ item.aboutUs.title }}</div>
                    <a href="#" class="footer-link">{{ item.aboutUs.desc }}</a>
                    <a href="#" class="footer-link town">{{ item.aboutUs.town }}</a>
                </div>
            {% endfor %}
        </div>
        <img
                src="/img/footer-right-decor.png"
                alt="footer-decor"
                class="footer-decor right-decor"
        >
    </div>
</footer>
